<!DOCTYPE html>
<html lang="en">
<head>
    <title>Monitoring Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.json-viewer/json-viewer/jquery.json-viewer.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.json-viewer/json-viewer/jquery.json-viewer.js') }}"></script>

    <style type="text/css">
        pre {
            padding: 0.5em 1.5em;
        }
    </style>

    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var number_of_email = 0;
        var socket = io.connect("{{ url_for('monitor') }}");

        socket.on("connect", function() {
            socket.emit("connect_event", {data: " [*] connected!"});
            socket.emit("client_event", {data: " [*] Ready for chat!"});
        })

        socket.on("server_response", function(msg) {
            $("#info").append("<br>" + $("<div/>").text(msg.data).html());
        });

        socket.on("server_statistic", function(msg) {
            console.log(msg);
            $("#board").html(" [*] " + msg.data);
            for (i = 0; i < msg.info.length; i++) {
                var obj = JSON.parse(msg.info[i]);
                //var escaped = $("<div/>").text(str.replace(/\\r/g, "\r").replace(/\\n/g, "\n").replace(/\\t/g, "\t")).html();
                //$("#info").append("<br>" + escaped);
                $("#email-json-viewer").append("<pre id=\"email-" + number_of_email.toString() + "\"></pre>");
                $("#email-" + number_of_email.toString()).jsonViewer(obj, { collapsed: true, withQuotes: false });
                number_of_email += 1;
            }
        });

        $("#emit").submit(function(event) {
            socket.emit("client_event", {data: " [*] "+$("#emit_data").val()});
            event.preventDefault();
        });
    });
    
    </script>
</head>

<body>
    <div class="container-fluid">
        <h4 class="display-4">Testing</h4>
        <div id="board" class="w-100 p-3" style="background-color:#eee;font-family:Courier New;white-space: pre;"> [*] GOGOGO~</div>

        <h4 class="display-4">Email</h4>
        <div id="email-json-viewer" class="w-100 p-3" style="background-color:#eee;font-family:Courier New;white-space: pre;"></div>

        <h4 class="display-4">Echo Test & Info</h4>
        <form id="emit" method="POST" action="#">
            <div class="form-group">
                <input type="text" class="form-control" name="emit_data" id="emit_data" placeholder="Message">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Echo">
            </div>
        </form>
        <div id="info" class="w-100 p-3" style="background-color:#eee;font-family:Courier New;white-space: pre-wrap;"> [*] GOGOGO~</div>
    </div>
</body>


</html>
