<!DOCTYPE html>
<html lang="en">
<head>
    <title>Management Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script>
        function activate_service_jQuery() {
            $.post(
                "service/activate",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function deactivate_service_jQuery() {
            $.post(
                "service/deactivate",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function activate_route_jQuery() {
            $.post(
                "route/activate",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function deactivate_route_jQuery() {
            $.post(
                "route/deactivate",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function show_registered_users_jQuery() {
            $.post(
                "show/registered_users",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
        }

        function show_route_jQuery() {
            $.post(
                "show/route",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
        }

        function connect_jQuery(local_sid, remote_sid) {
            $.post(
                "route",
                { "local_sid": local_sid, "remote_sid": remote_sid },
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function flush_jQuery() {
            $.post(
                "flush",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }
    </script>
</head>

<body>

<div class="container">
    <h2>Customized Content Filter Server</h2>
    <h2>Hi, {{ account }}</h2>
    <div class="container-fluid">
        <br><br>
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>
        <button type="button" class="btn btn-outline-light text-dark">Light</button>
        <br><br>
        <button onclick="activate_service_jQuery()" class="btn btn-outline-success {% if user.service_ready %} active {% endif %}">Activate Service</button>
        <button onclick="deactivate_service_jQuery()" class="btn btn-outline-danger {% if not user.service_ready %} active {% endif %}">Deactivate Service</button>
        <button onclick="activate_route_jQuery()" class="btn btn-outline-success {% if user.route_ready %} active {% endif %}">Activate Route</button>
        <button onclick="deactivate_route_jQuery()" class="btn btn-outline-danger {% if not user.route_ready %} active {% endif %}">Deactivate Route</button>
        <button onclick="show_registered_users_jQuery()" class="btn btn-outline-dark">Show current registered users</button>
        <button onclick="show_route_jQuery()" class="btn btn-outline-dark">Show current route</button>
        <br><br>
        {% for src_server in src_servers %}
        <p>{{ src_server.sid }}: </p>
        {% for dst_server in dst_servers %}{% if src_server.sid != dst_server.sid %}
		<button onclick="connect_jQuery('{{ src_server.sid }}', '{{ dst_server.sid }}')" class="btn btn-outline-primary {% if dst_server.sid == user_routes[src_server.sid] %} active {% endif %}">{{ dst_server.sid }}</button>
        {% endif %}{% endfor %}
        <br><br>
        {% endfor %}
        <button onclick="flush_jQuery()" class="btn btn-outline-info">Flush your email</button>
        <br><br>
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit" class="btn btn-outline-warning">Logout</button>
        </form>
    </div>
</div>

