<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ account }}@{{ domain }}'s Management Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/go.js') }}"></script>
    <script id="gojs.code">
    function init() {
        var $ = go.GraphObject.make; // for conciseness in defining templates
        Route =
            $(go.Diagram, "RouteDiv", // must name or refer to the DIV HTML element
                {
                    // start everything in the middle of the viewport
                    initialContentAlignment: go.Spot.Center,
                    // have mouse wheel events zoom in and out instead of scroll up and down
                    "toolManager.mouseWheelBehavior": go.ToolManager.WheelZoom,
                    // enable undo & redo
                    "undoManager.isEnabled": true
                });

        // when the document is modified, add a "*" to the title and enable the "Save" button
        Route.addDiagramListener("Modified", function(e) {
            var button = document.getElementById("SaveButton");
            if (button) button.disabled = !Route.isModified;
            var idx = document.title.indexOf("*");
            if (Route.isModified) {
                if (idx < 0) document.title += "*";
            } else {
                if (idx >= 0) document.title = document.title.substr(0, idx);
            }
        });

        // define the Node template
        Route.nodeTemplate =
            $(go.Node, "Auto",
                new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
                // define the node's outer shape, which will surround the TextBlock
                $(go.Shape, "RoundedRectangle",
                    {
                        parameter1: 20, // the corner has a large radius
                        fill: $(go.Brush, "Linear", { 0: "rgb(254, 201, 0)", 1: "rgb(254, 162, 0)" }),
                        stroke: null,
                        portId: "", // this Shape is the Node's port, not the whole Node
                        fromLinkable: false, fromLinkableSelfNode: false, fromLinkableDuplicates: false,
                        toLinkable: false, toLinkableSelfNode: false, toLinkableDuplicates: false,
                        cursor: "pointer"
                    }
                ),
                $(go.TextBlock,
                    {
                        font: "bold 11pt helvetica, bold arial, sans-serif",
                        editable: true // editing the text automatically updates the model data
                    },
                    new go.Binding("text").makeTwoWay()
                )
            );

        // replace the default Link template in the linkTemplateMap
        Route.linkTemplate =
            $(go.Link,
                {
                    curve: go.Link.Bezier, adjusting: go.Link.Stretch,
                    reshapable: false, relinkableFrom: false, relinkableTo: false,
                    toShortLength: 3
                },
                new go.Binding("points").makeTwoWay(),
                new go.Binding("curviness"),
                $(go.Shape, { strokeWidth: 1.5 }),
                $(go.Shape, { toArrow: "standard", stroke: null })
            );

        // read in the JSON data from the "savedModel" element
        load();
    }
    function save() {
        document.getElementById("savedModel").value = Route.model.toJson();
    }
    function load() {
        Route.model = go.Model.fromJson(document.getElementById("savedModel").value);
    }
    </script>
    <script>
        function get_api_key_jQuery() {
            $.get(
                "api/api_key",
                {},
                function(data) {
                    $("#api_key").html(data);
                }
            );
        }

        function activate_service_jQuery() {
            $.post(
                "api/service/activate",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function deactivate_service_jQuery() {
            $.post(
                "api/service/deactivate",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function activate_route_jQuery() {
            $.post(
                "api/route/activate",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function deactivate_route_jQuery() {
            $.post(
                "api/route/deactivate",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function show_registered_users_jQuery() {
            $.get(
                "api/show/registered_users",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
        }

        function show_route_jQuery() {
            $.get(
                "api/show/route",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
        }

        function connect_jQuery(local_sid, remote_sid) {
            $.post(
                "api/route",
                { "local_sid": local_sid, "remote_sid": remote_sid },
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function flush_jQuery() {
            $.post(
                "api/flush",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
        }

        function POST_to_smtp_api() {
            $.ajax({
                url: "api/smtp",
                type: "POST",
                data: $("textarea#smtp_api_demo").val(),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function(data, textStatus, jqXHR) {
                alert("Response: " + data);
            }).fail(function(jqXHR, textStatus, error){
                alert("Response: " + jqXHR.responseText);
            });
        }

        function change_page(path) {
            document.location.href = path;
        }

    </script>
</head>

<body onload="init()">
    <div class="container">
        <div class="container-fluid">
            <h3>Page</h3>
            <ul>
                <li>Switch between Management Page and Monitor Page</li>
                <button class="btn btn-outline-info active">Management Page</button>
                <button onclick="change_page('monitor')" class="btn btn-outline-info">Monitor Page</button>
            </ul>
            <h3>Maintain Incoming Email</h3>
            <ul>
                <li>You can get your email through your SDK.</li>
                <button onclick="activate_service_jQuery()" class="btn btn-outline-success {% if user.service_ready %} active {% endif %}">Activate</button>
                <button onclick="deactivate_service_jQuery()" class="btn btn-outline-danger {% if not user.service_ready %} active {% endif %}">Deactivate</button>
            </ul>
            <h3>Set Incoming Email Route</h3>
            <ul>
                <li>Route your own email through different filters.</li>
                <button onclick="activate_route_jQuery()" class="btn btn-outline-success {% if user.route_ready %} active {% endif %}">Activate</button>
                <button onclick="deactivate_route_jQuery()" class="btn btn-outline-danger {% if not user.route_ready %} active {% endif %}">Deactivate</button>
            </ul>
            <h3>Current Status</h3>
            <ul>
                <li>Show all registered users' email address</li>
                <button onclick="show_registered_users_jQuery()" class="btn btn-outline-dark">Click me.</button>
                <li>Show your own route setting.</li>
                <button onclick="show_route_jQuery()" class="btn btn-outline-dark">Click me.</button>
            </ul>
            <h3>Show Route Status</h3>
            <ul>
                <div class="container-fluid">
                    <div id="sample">
                        <div id="RouteDiv" style="border: solid 1px black; width: 100%; height: 400px"></div>
                        <div style="display:none">
                            <div>
                                <button id="SaveButton" onclick="save()">Save</button>
                                <button onclick="load()">Load</button>
                                Diagram Model saved in JSON format:
                            </div>
                            <textarea id="savedModel" style="width:100%;height:300px">
{ "nodeKeyProperty": "id",
    "nodeDataArray": [
        {% for server in servers %}
        { "id": {{ server.id }}, "text": "{{ server.sid }}" },
        {% endfor %}
        {}
    ],
    "linkDataArray": [
        {% for key in user_routes %}
        { "from": {{ user_routes[key].src.id }}, "to": {{ user_routes[key].dst.id }}, "text": "" },
        {% endfor %}
        {% for key in server_routes %}
        { "from": {{ server_routes[key].src.id }}, "to": {{ server_routes[key].dst.id }}, "text": "" },
        {% endfor %}
        {}
    ]
}
                            </textarea>
                        </div>
                    </div>
                </div>
            </ul>
            <h3>Modify Route Settings</h3>
            <ul>
                <li>You can determine the next hop of incoming emails.</li>
                {% for src_server in src_servers %}
                <li>{{ src_server.sid }}: </li>
                {% for dst_server in dst_servers %}{% if src_server.sid != dst_server.sid %}
                <button onclick="connect_jQuery('{{ src_server.sid }}', '{{ dst_server.sid }}')" class="btn btn-outline-primary {% if src_server.sid in user_routes and dst_server.sid == user_routes[src_server.sid].dst.sid %} active {% endif %}">{{ dst_server.sid }}</button>
                {% endif %}{% endfor %}
                {% endfor %}
            </ul>
            <h3>API Key</h3>
            <ul>
                <li>Get your API Key. The key will expired in 1 day.</li>
                <textarea readonly id="api_key" class="w-100 p-3" style="background-color:#eee;font-family:Courier New;word-break: break-all;white-space: pre-wrap;"></textarea>
                <button onclick="get_api_key_jQuery()" class="btn btn-outline-dark">Click me.</button>
                <li>How to use? Append "?api_key={api_key_you_get}" after url to any of our api.</li>
            </ul>
            <h3>SMTP API</h3>
            <ul>
                <li>How to use? Try POST sample below.</li>
                <textarea id="smtp_api_demo" rows="15" class="w-100 p-3 h-15" style="background-color:#eee;font-family:Courier New;word-break: break-all;white-space: pre-wrap;">
{
    "data": {
        "mail_from": "{{ account }}@{{ domain }}",
        "mail_to": ["{{ account }}@{{ domain }}"],
        "cc_to": [],
        "bcc_to": [],
        "subject": "This is a SMTP API Test.",
        "content": "Test~ Please ignore this."
    }
}
                </textarea>
                <button onclick="POST_to_smtp_api()" class="btn btn-outline-dark">POST</button>
            </ul>
            <h3>Flush Email</h3>
            <ul>
                <li>Retry all your jammed emails.</li>
                <li>This button might be useful when you are developing your app with SDK</li>
                <li>This may cause you to receive duplicate email at your SDK.</li>
                <button onclick="flush_jQuery()" class="btn btn-outline-info">Flush</button>
            </ul>
            <h3>Logout</h3>
            <ul>
                <form action="{{ url_for('logout') }}" method="GET">
                    <button type="submit" class="btn btn-outline-warning">Logout</button>
                </form>
            </ul>
        </div>
    </div>
</body>
