<!DOCTYPE html>
<html lang="en">
<head>
    <title>Management Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/go.js') }}"></script>
    <script id="gojs.code">
    function init() {
        var $ = go.GraphObject.make; // for conciseness in defining templates
        Route =
            $(go.Diagram, "RouteDiv", // must name or refer to the DIV HTML element
                {
                    // start everything in the middle of the viewport
                    initialContentAlignment: go.Spot.Center,
                    // have mouse wheel events zoom in and out instead of scroll up and down
                    "toolManager.mouseWheelBehavior": go.ToolManager.WheelZoom,
                    // enable undo & redo
                    "undoManager.isEnabled": true
                });

        // when the document is modified, add a "*" to the title and enable the "Save" button
        Route.addDiagramListener("Modified", function(e) {
            var button = document.getElementById("SaveButton");
            if (button) button.disabled = !Route.isModified;
            var idx = document.title.indexOf("*");
            if (Route.isModified) {
                if (idx < 0) document.title += "*";
            } else {
                if (idx >= 0) document.title = document.title.substr(0, idx);
            }
        });

        // define the Node template
        Route.nodeTemplate =
            $(go.Node, "Auto",
                new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
                // define the node's outer shape, which will surround the TextBlock
                $(go.Shape, "RoundedRectangle",
                    {
                        parameter1: 20, // the corner has a large radius
                        fill: $(go.Brush, "Linear", { 0: "rgb(254, 201, 0)", 1: "rgb(254, 162, 0)" }),
                        stroke: null,
                        portId: "", // this Shape is the Node's port, not the whole Node
                        fromLinkable: false, fromLinkableSelfNode: false, fromLinkableDuplicates: false,
                        toLinkable: false, toLinkableSelfNode: false, toLinkableDuplicates: false,
                        cursor: "pointer"
                    }
                ),
                $(go.TextBlock,
                    {
                        font: "bold 11pt helvetica, bold arial, sans-serif",
                        editable: true // editing the text automatically updates the model data
                    },
                    new go.Binding("text").makeTwoWay()
                )
            );

        // replace the default Link template in the linkTemplateMap
        Route.linkTemplate =
            $(go.Link,
                {
                    curve: go.Link.Bezier, adjusting: go.Link.Stretch,
                    reshapable: false, relinkableFrom: false, relinkableTo: false,
                    toShortLength: 3
                },
                new go.Binding("points").makeTwoWay(),
                new go.Binding("curviness"),
                $(go.Shape, { strokeWidth: 1.5 }),
                $(go.Shape, { toArrow: "standard", stroke: null })
            );

        // read in the JSON data from the "savedModel" element
        load();
    }
    function save() {
        document.getElementById("savedModel").value = Route.model.toJson();
    }
    function load() {
        Route.model = go.Model.fromJson(document.getElementById("savedModel").value);
    }
    </script>
    <script>
        function activate_service_jQuery() {
            $.post(
                "service/activate",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function deactivate_service_jQuery() {
            $.post(
                "service/deactivate",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function activate_route_jQuery() {
            $.post(
                "route/activate",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function deactivate_route_jQuery() {
            $.post(
                "route/deactivate",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function show_registered_users_jQuery() {
            $.post(
                "show/registered_users",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
        }

        function show_route_jQuery() {
            $.post(
                "show/route",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
        }

        function connect_jQuery(local_sid, remote_sid) {
            $.post(
                "route",
                { "local_sid": local_sid, "remote_sid": remote_sid },
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }

        function flush_jQuery() {
            $.post(
                "flush",
                {},
                function(data) {
                    alert("Response: " + data);
                }
            );
            location.reload();
        }
    </script>
</head>

<body onload="init()">
    <div class="container">
        <h2>Customized Content Filter Server</h2>
        <div class="container-fluid">
            <h3>Hi, {{ account }}</h3>
            <h3>Sample Button</h3>
            <ul>
                <button type="button" class="btn btn-outline-primary">Primary</button>
                <button type="button" class="btn btn-outline-secondary">Secondary</button>
                <button type="button" class="btn btn-outline-success">Success</button>
                <button type="button" class="btn btn-outline-info">Info</button>
                <button type="button" class="btn btn-outline-warning">Warning</button>
                <button type="button" class="btn btn-outline-danger">Danger</button>
                <button type="button" class="btn btn-outline-dark">Dark</button>
                <button type="button" class="btn btn-outline-light text-dark">Light</button>
            </ul>
            <h3>Service of Maintaining Incoming Email</h3>
            <ul>
                <li>Activate to start receiving your own email.</li>
                <button onclick="activate_service_jQuery()" class="btn btn-outline-success {% if user.service_ready %} active {% endif %}">Activate</button>
                <li>Deactivate to stop receiving your own email.</li>
                <button onclick="deactivate_service_jQuery()" class="btn btn-outline-danger {% if not user.service_ready %} active {% endif %}">Deactivate</button>
            </ul>
            <h3>Service of Setting Email Incoming Route</h3>
            <ul>
                <li>Activate to start routing your own email through different kinds of content filter.</li>
                <button onclick="activate_route_jQuery()" class="btn btn-outline-success {% if user.route_ready %} active {% endif %}">Activate</button>
                <li>Deactivate to stop routing your own email, and use default route settings instead.</li>
                <button onclick="deactivate_route_jQuery()" class="btn btn-outline-danger {% if not user.route_ready %} active {% endif %}">Deactivate</button>
            </ul>
            <h3>Show Current Status</h3>
            <ul>
                <li>Show all registered users' email address</li>
                <button onclick="show_registered_users_jQuery()" class="btn btn-outline-dark">Click me.</button>
                <li>Show your own route setting.</li>
                <button onclick="show_route_jQuery()" class="btn btn-outline-dark">Click me.</button>
            </ul>
            <h3>Show Route Status</h3>
            <ul>
                <div class="container-fluid">
                    <div id="sample">
                        <div id="RouteDiv" style="border: solid 1px black; width: 100%; height: 400px"></div>
                        <div style="display:none">
                            <div>
                                <button id="SaveButton" onclick="save()">Save</button>
                                <button onclick="load()">Load</button>
                                Diagram Model saved in JSON format:
                            </div>
                            <textarea id="savedModel" style="width:100%;height:300px">
{ "nodeKeyProperty": "id",
    "nodeDataArray": [
        {% for server in servers %}
        { "id": {{ server.id }}, "text": "{{ server.sid }}" },
        {% endfor %}
        {}
    ],
    "linkDataArray": [
        {% for key in user_routes %}
        { "from": {{ user_routes[key].src.id }}, "to": {{ user_routes[key].dest.id }}, "text": "" },
        {% endfor %}
        {% for key in server_routes %}
        { "from": {{ server_routes[key].src.id }}, "to": {{ server_routes[key].dest.id }}, "text": "" },
        {% endfor %}
        {}
    ]
}
                            </textarea>
                        </div>
                    </div>
                </div>
            </ul>
            <h3>Modify Route Settings</h3>
            <ul>
                {% for src_server in src_servers %}
                <li>{{ src_server.sid }}: </li>
                {% for dst_server in dst_servers %}{% if src_server.sid != dst_server.sid %}
                <button onclick="connect_jQuery('{{ src_server.sid }}', '{{ dst_server.sid }}')" class="btn btn-outline-primary {% if dst_server.sid == user_routes[src_server.sid].dest.sid %} active {% endif %}">{{ dst_server.sid }}</button>
                {% endif %}{% endfor %}
                {% endfor %}
            </ul>
            <h3>Flush Email</h3>
            <ul>
                <li>Flush your email, this will trigger server to push all your current queued email to you.</li>
                <li>This may cause your client to receive duplicate email.</li>
                <button onclick="flush_jQuery()" class="btn btn-outline-info">Flush</button>
            </ul>
            <h3>Logout</h3>
            <ul>
                <form action="{{ url_for('logout') }}" method="POST">
                    <button type="submit" class="btn btn-outline-warning">Logout</button>
                </form>
            </ul>
        </div>
    </div>
</body>
