<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ account }}'s Monitoring Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var socket = io.connect("{{ url_for('monitor') }}");

        socket.on("connect", function() {
            socket.emit("connect_event", {data: " [*] Connected!"});
            socket.emit("client_event", {data: " [*] Ready for chat!"});
        });

        socket.on("disconnect", function() {
            var disconnect_msg = " [*] Disconnected.";
            $("#board").html(disconnect_msg);
            $("#log").append("<br>" + $("<div/>").text(disconnect_msg).html());
        });

        socket.on("server_response", function(msg) {
            $("#log").append("<br>" + $("<div/>").text(msg.data).html());
        });

        socket.on("server_statistic", function(msg) {
            var connect_msg = " [*] Connected.";
            $("#board").html(connect_msg + " <br> [*] " + msg.data + " emails total");
            for (i = 0; i < msg.log.length; i++) {
                $("#log").append("<br>" + $("<div/>").text(msg.log[i]).html());
            }
        });

        $("#emit").submit(function(event) {
            socket.emit("client_event", {data: " [*] "+$("#emit_data").val()});
            event.preventDefault();
        });
    });
    
    function change_page(path) {
        document.location.href = path;
    }
    </script>
</head>

<body>
    <div class="container">
        <div class="container-fluid">
            <h3>Page</h3>
            <ul>
                <li>Switch between Management Page and Monitor Page</li>
                <button onclick="change_page('manage')" class="btn btn-outline-info">Management Page</button>
                <button class="btn btn-outline-info active">Monitor Page</button>
            </ul>
            <h3>Server Throughput</h3>
            <div id="board" class="w-100 p-3" style="background-color:#eee;font-family:Courier New;word-break: break-all;white-space: pre-wrap;"> [*] GOGOGO~</div>

            <h3>Echo Test & Log</h3>
            <form id="emit" method="POST" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" name="emit_data" id="emit_data" placeholder="Message">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Echo">
                </div>
            </form>
            <div id="log" class="w-100 p-3" style="background-color:#eee;font-family:Courier New;word-break: break-all;white-space: pre-wrap;"> [*] GOGOGO~</div>
        </div>
    </div>
</body>

</html>
